footer {
    background-color: #4a5e57;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer-column h4{
    color:#fff;
    margin: 0.5rem 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f0a500;
}

.contacts {
    list-style: none;
}

.contacts li{
    color: #fff;
}

.socials {
    list-style: none;
}

.socials li {
    color: #fff;
}

.socials a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    /* justify-content: center; */
    display: flex;
    align-items: center;
}

.socials a:hover {
    color: #f0a500;
}
